h1 {
    text-align: center;
}

h5 {
    margin: 0;
    padding: 0;
}

main {
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr auto;
}

section {
    display: grid;
    grid-template-columns: auto auto auto;
}

section > article {
    background-color: #f2f2f2;
    margin: 10px;
    max-height: 200px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edit {
    font-size: 1.5em;
    text-decoration: none;
}

.hidden {
    display: none;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttons a {
    background-color: red;
    color: white;
    margin: 5px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: underline;
}

.title-and-x-close-button {
    display: flex;

    align-content: start;
    align-items: start;
    justify-items: start;
    justify-content: space-between;
}

.title-and-x-close-button > form {
    margin-left: 10px;
}

/* media queries */
@media screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        /* background-color: yellow; */
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        /* background-color: blue; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    section {
        /* background-color: green; */
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*

@media screen and (min-width: 961px) and (max-width: 1100px) {
    body
    {
        font-size: 1.2em;
    }
    div, figure, figcaption {
        width: 200px;
    }
}

@media screen and (min-width: 1100px) {
    body
    {
        font-size: 1.3em;
    }
    div, figure, figcaption {
        width: 250px;
    }
} */
